.arrow-btn-group {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .arrow-button:not(:first-child) {
    margin-left: -20px;

    .arrow-button__content {
      padding-left: 40px;
    }
  }
}
