.review-card {
  width: 446px;
  background: #f2f2f2;
  border-radius: 25px;
  overflow: hidden;
  &__video {
    position: relative;
    height: 291px;
    background: #262626;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    padding: 30px 30px 40px 30px;
  }
  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #262626;
    padding-bottom: 30px;
  }
  &__text {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    padding-bottom: 15px;
    height: 150px;
    overflow: hidden;
    &:after {
      content: "...";
      position: absolute;
      bottom: -3px;
      right: 0;
      background: #f2f2f2;
      padding: 0 20px 0 1px;
    }
    &_open {
      text-overflow: unset;
      overflow: auto;
      height: 250px;
      &:after {
        content: "";
      }
    }
  }

  &__details {
    margin-top: 15px;
  }
}

.play {
  position: relative;
  width: 45px;
  height: 45px;
  background: #ca0100;
  border-radius: 50%;
  &:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(202, 1, 0, 0.3);
    border-radius: 50%;
    z-index: -1;
  }
  &:before {
    content: "";
    position: absolute;
    width: 67px;
    height: 67px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(202, 1, 0, 0.3);
    border-radius: 50%;
    z-index: -1;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.details {
  display: inline-flex;
  background: #e1e1e1;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #262626;
  align-items: center;
  &__text {
    margin-right: 56px;
  }
  &__arrow {
    &_open {
      transition: all 0.2s;
      transform: rotate(-180deg);
    }
  }
}
