.rating-stats {
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
  }

  &__recommend {
    margin-right: 27px;
  }
  &__recommend-text {
    margin-right: 5px;
  }
  &__recommend-value {
  }

  &__value {
    background: #55bc6b;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 2px 6px;
    color: #ffffff;
  }
  &__rating {
    margin-right: 10px;
  }

  &_lg {
    .rating-stats__wrapper {
      flex-direction: column;
    }
    .rating-stats__value {
      font-size: 43px;
      line-height: 50px;
      padding: 5px 20px;
      border-radius: 10px;
    }
    .rating-stats__recommend {
      margin-bottom: 10px;
      margin-right: unset;
    }
    .rating-stats__wrapper {
      margin-right: 27px;
    }
    .rating-stats__rating {
      margin-right: unset;
      text-align: center;
    }
  }
}
