.trust-card {
  display: inline-block;
  padding: 25px 22px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(38, 38, 38, 0.15);
  border-radius: 10px;
  &__site {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #262626;
    margin-bottom: 5px;
  }

  &__store {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #adadb0;
    margin-bottom: 25px;
  }
}
